<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News Portal</title>
		</head>
	<body>

		<h1>Welcome here!!!</h1>

        <p>Isto é feito em português. Mas será interpretado como?</p>

	</body>
</html>