<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebars demo</title> </head>
    <link href="./styles/hello.css" rel="stylesheet">
</head>
<body>

<body>
    <p>Main structure...</p>
    {{{body}}}
</body>
</html>